@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* ========== Style reset ========= */
* {
  font-family: "Epilogue", sans-serif;
}

.mont {
  font-family: "Montserrat", sans-serif !important;
}

button,
a {
  font-family: "Montserrat", sans-serif !important;
  text-transform: capitalize !important;
}

/* Input */
.remove-outline,
.remove-outline:hover,
.remove-outline:focus
{
  outline: 0px !important;
  -webkit-appearance: none;
  border: 0 !important;
  box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(157, 157, 157, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(157, 157, 157, 0.5);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(157, 157, 157, 0.02);
  border-radius: 1rem;
}

/* ========== Hero Section =========== */

.bg {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}


header {
  min-height: 95vh;
}

/* =============== Tags =========== */

.tagcloud {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.navbar {
  transition: all ease-in 0.1s;
}

.tagcloud {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 11px;
}
.tagcloud:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

/* ====== Tags Dark Mode ======== */

.tagcloud-dark {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.tagcloud-dark {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 11px;
}
.tagcloud-dark:hover {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
}

.gloom-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.black {
  background-color: #000;
}

/* Navbar */

.nav-blur {
  backdrop-filter: blur(2rem);
}

.navbar-darken {
  background-color: rgba(0, 0, 0, 0.8);
}

::placeholder {
  color: #575757 !important;
}

@keyframes live {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fff;
  }
  100.00% {
    background-color: #ff4848;
  }
}

.live {
  animation: live 2s infinite !important;
}

.search {
  width: 30rem;
}
@media (min-width: 1200px) {
  .search {
    width: 10rem;
  }
}

.banner-image {
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/images/drop.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.user-form {
  height: 3.2rem;
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: #000 !important;
}

.user-form:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.user-form:focus {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* ==================   Sidebar  ===================== */
.sidenav {
  width: auto;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2rem);
  position: absolute;
  min-height: 100%;
  padding: 0 30px;
  display: none;
  overflow-x: hidden;
  transition: all 0.3s;
  z-index: 1;
  overflow-y: auto;
}

.sidenav.active {
  right: 0;
  display: block;
  overflow-x: hidden;
}

.contestant:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  cursor: pointer;
}

.contestant.active {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Footer */
.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
